*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(216, 217, 233);
}
.heading{
    text-align: center;
    margin-top: 2.5vh;
}
/* .heading:hover{
    color: yellow;
    background-color: #000;
} */
.middle-heading{
    text-align: center;
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
}
.middle-heading h2{
    flex-basis:25% ;
}
.middle-heading h2:hover{
    color:royalblue;
}
.mdh-mobile{
    display: none;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    /* border: 1px solid blue; */
}
.container h2{
    text-align: center;
    margin: 10px auto 10px auto;
}
.container div:hover{
    background-color: #0015;
    color:aliceblue;
    border-radius: 15px;
}

.container h2:hover, dt:hover{
    color: rgb(248, 4, 4);
    background-color: #000;
    border-radius: 10px;
}
.first-list, .second-list, .third-list{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    margin: 0px auto;
    flex-direction: row;
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    padding: 20px;
    /* border: 2px solid salmon; */
}
.first-list li, .second-list li, .third-list li{
    cursor: pointer;
    border-radius: 8px;
}
.first-list li:hover, .second-list li:hover, .third-list li:hover{
    color:blueviolet;
    background-color: #000;
}
.first-list ul{
    list-style: square;
}
.second-list ol{
    list-style: lower-roman;
}
dt{
    font-weight: bold;
}
.seasons{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.next-page{
    text-align: center;
    margin: 5vh;
}
.next-page button{
    font-size: 1.2rem;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid blue;
    cursor: pointer;
}
.next-page button:hover{
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
}
.next-page button:active{
    color: orangered;
    font-size: 1.1rem;
}
@media screen and (max-width:668px) {

    .heading{
        font-size: 6.5vw;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .middle-heading h2{
        display: none;
    }
    .first-list, .second-list, .third-list{
        width: 60%;
        font-size: 1.25rem;
        letter-spacing: 2px;
        font-family: sans-serif;
        margin: auto;
    }
    .mdh-mobile{
        display: block;
    }
}